@{

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebCamApp</title>
    @Styles.Render("~/bundles/css")


</head>
<body>
    @Html.Partial("_LoginRegisterModalPartial")
    <div class="wrapper container header">
        <header>
            <div class="navbar collapse navbar-collapse hidden-xs" id="Logo">
                <a href=@Url.Action("Index", "Home") class="brand"><b><span class="orange">W</span>ebCamApp</b></a>
                @Html.Partial("_LoginPartial_1")
            </div>
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-target=".navbar-collapse" data-toggle="collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href=@Url.Action("Index", "Home") class="brand navbar-brand visible-xs"><b><span class="orange">W</span>ebCamApp</b></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav nav-pills nav-justified">
                        <li class="@ViewBag.Home"><a href=@Url.Action("Index", "Home")>Главная</a></li>
                        <li class="@ViewBag.About"><a href=@Url.Action("About", "Home")>Описание</a></li>
                        <li class="@ViewBag.Download"><a href=@Url.Action("Download", "Home")>Загрузить</a></li>
                        <li class="@ViewBag.Data"><a href=@Url.Action("Data", "Home")>Данные</a></li>
                        <li class="@ViewBag.Contact"><a href=@Url.Action("Contact", "Home")>Контакты</a></li>
                    </ul>
                </div>
                <div class="visible-xs">
                    @Html.Partial("_LoginPartial_2")
                </div>
            </nav>
        </header>
    </div>
    <div class="wrapper container">
        <section>
            <div>
                @RenderBody()
                <hr />
            </div>
        </section>
        <footer>
            <p>&copy; @DateTime.Now.Year - WebCamApp</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @if (!Request.IsAuthenticated)
    {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
