@using WebAppServer.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebCamApp - @ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @RenderSection("FancyBox", false)

</head>

<body>
    @if (!Request.IsAuthenticated)
    {
    <!-- HTML-код модального окна регистрации-->
        <div id="register" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content" id="switchRegisterModal">

                    @Html.Partial("_RegisterModalPartial", new RegisterViewModel())

                </div>
            </div>
        </div>
    <!-- HTML-код модального окна входа-->
        <div id="login" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content" id="switchLoginModal">

                    @Html.Partial("_LoginModalPartial", new LoginViewModel())

                </div>
            </div>
        </div>
    }

    <div class="wrapper container header">
        <header>
            <div class="navbar collapse navbar-collapse hidden-xs" id="Logo">
                <a href=@Url.Action("Index", "Home") class="brand"><b><span class="orange">W</span>ebCamApp</b></a>
                @Html.Partial("_LoginPartial_1")
            </div>
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-target=".navbar-collapse" data-toggle="collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href=@Url.Action("Index", "Home") class="brand navbar-brand visible-xs"><b><span class="orange">W</span>ebCamApp</b></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav nav-pills nav-justified">
                        <li class="@ViewBag.Home"><a href=@Url.Action("Index", "Home")>Главная</a></li>
                        <li class="@ViewBag.Download"><a href=@Url.Action("Download", "Home")>Загрузить</a></li>
                        @if (!Request.IsAuthenticated)
                        {
                            <li class="@ViewBag.About"><a href=@Url.Action("About", "Home")>Описание</a></li>
                            <li class="@ViewBag.Data"><a href=@Url.Action("Data", "Home")>Данные</a></li>
                        }
                        else
                        {
                            <li class="@ViewBag.Settings"><a href=@Url.Action("Settings", "Manage")>Настройки</a></li>
                            <li class="@ViewBag.Galery"><a href=@Url.Action("Gallery", "Manage")>Галерея</a></li>
                        }
                        <li class="@ViewBag.Contact"><a href=@Url.Action("Contact", "Home")>Контакты</a></li>
                    </ul>
                </div>
                <div class="visible-xs">
                    @Html.Partial("_LoginPartial_2")
                </div>
            </nav>
        </header>
    </div>
    <div class="wrapper container">
        <section>
            <div>
                @RenderBody()
                <hr />
            </div>
        </section>
        <footer>
            <p>&copy; @DateTime.Now.Year - WebCamApp</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @if (!Request.IsAuthenticated)
    {
        @Scripts.Render("~/bundles/jqueryval")
    }
    @if (Request.IsAuthenticated)
    {
        @Scripts.Render("~/bundles/fancyBoxJs")
        // TODO Убрать в частичное представление галереи
        <script>
            $(document).ready(function () {
                $('.fancybox').fancybox();
                $("a[href$='.jpg'],a[href$='.jpeg'],a[href$='.png'],a[href$='.gif'],a[href$='Image']").attr('rel', 'gallery').fancybox();
            });
        </script>
    }

    <script>
        function FixUnobtrusiveValidate(sel) {
            $(sel).removeData("validator");
            $(sel).removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse(sel);
        }
    </script>
</body>
</html>
