@model WebAppServer.Models.RegisterViewModel

@Html.ValidationSummary(true, null, new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(m => m.Login, "Имя:", new { @class = "col-sm-3 control-label" })
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
    </div>
    <div class="col-sm-12">
        @Html.ValidationMessageFor(m => m.Login, null, new { @class = "text-danger pull-right" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Email, "Эл. почта:", new { @class = "col-sm-3 control-label" })
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
    <div class="col-sm-12">
        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger pull-right" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Password, "Пароль:", new { @class = "col-sm-3 control-label" })
    <div class="col-sm-9">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
    <div class="col-sm-12">
        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger pull-right" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ConfirmPassword, "Подтвердить пароль:", new { @class = "col-sm-3 control-label" })
    <div class="col-sm-9">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>
    <div class="col-sm-12">
        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger pull-right" })
    </div>
</div>
